{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>{{ object.title }}</h1>
    <p>Author: {{ object.author }}</p>
    <p>Genre: {{ object.genre }}</p>
    <p>Price: {{ object.price }}</p>
    <p>ISBN: {{ object.isbn }}</p>
  </div>
</div>
{% endblock content %}
