{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Add a book</h1>
  </div>
  <div class="row">
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ error|escape }}
        </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Save" />
    </form>
  </div>
</div>
{% endblock content %}
