{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Remove this book</h1>
  </div>
  <div class="row">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <p>Are you sure you want to remove -
          ISBN: {{ object.isbn }}
          Title: {{ object.title }}
          Author: {{ object.author }}
      </p>
      <input type="submit" value="Confirm" />
    </form>
  </div>
</div>
{% endblock content %}
