{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Book List</h1>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Price</th>
          <th>Info</th>
          {% if user.is_authenticated %}
          <th>Modify</th>
          <th>Remove</th>
          {% endif %}
        </tr>
        {% if object_list %}
        {% for book in object_list %}
        <tr>
          <td>{{ book.isbn }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td>${{ book.price }}</td>
          <td>
            <a href="{% url 'book-view' book.isbn %}" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </a>
          </td>
          {% if user.is_authenticated %}
          <td>
            <a href="{% url 'book-update' book.isbn %}" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          </td>
          <td>
            <a href="{% url 'book-delete' book.isbn %}" class="btn btn-default" role="button">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
